<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43837105804-he5jci75mbf7jrhush4cps45plripdvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43837105804-he5jci75mbf7jrhush4cps45plripdvp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43837105804-drl7sqkat7pohcgtufvea4gsrd1emmi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLmWYc00w0KZ-qj8hIymWCIs8K5Z0cG0g</string>
	<key>GCM_SENDER_ID</key>
	<string>43837105804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FriendzSocialMediaLimited.Friendzr-ios</string>
	<key>PROJECT_ID</key>
	<string>friendzr-1631017594822</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzr-1631017594822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:43837105804:ios:bfcf2135eacae54bc3bda9</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6206027456764756~1747027446</string>
</dict>
</plist>
